@model NewsPagination


    <div class="container">
       @foreach(var news in Model.NewsList)
        {
            <div class="row border bg-light mb-3">
                <div class="col-3 py-2">
                    <img src="~/NewsImage/@news.ImageUrl" width="300px" height="250px" alt="News">
                </div>
                <div class="col-9 py-3">
                    <h2>@news.Headline</h2>
                    <p>
                        @news.ShortSummary

                        <a asp-action="FullNews" asp-route-id="@news.Id">..Read full story</a>
                    </p>
                </div>
            </div>
        }
        <ul class="pagination">
        @if (Model.PreviousPage > 0)
        {
            <li class="page-item"><a  class="page-link" asp-action="News" asp-route-pageNumber="@Model.PreviousPage" >Previous</a></li>
        }
            <li class="page-item"><a class="page-link" asp-action="News" asp-route-pageNumber="1">1</a></li>
            <li class="page-item"><a class="page-link" asp-action="News" asp-route-pageNumber="2">2</a></li>
        @if (Model.CurrentPage != Model.LastPage)
        {
            <li class="page-item"><a class="page-link" asp-action="News" asp-route-pageNumber="@Model.NextPage">Next</a></li>

        }
        </ul>
    </div>
    
      